@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

img[src=""] {
  display: none;
}

body {
  background: #e8e8e8;
}

.flex {
  display: flex;
}

li {
  list-style: none;
}

#page-counter p {
  font-size: 0.6em;
  color: #5b5b5b;
  line-height: 20px;
}

/*gradient*/
#gradient-pallet {
  width: 233px;
  height: 40px;
  position: fixed;
  bottom: 10px;
}

#gradient-pallet .pallet {
  width: 150px;
  margin: 0 auto;
  opacity: 0;
  position: relative;
  bottom: -50px;
  transition: 0.3s;
}

#gradient-pallet:hover .pallet {
  bottom: 0;
  opacity: 1;
}

.sidebar-gradient {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  display: inline-block;
}

.pallet li {
  border: 2px solid transparent;
  transition: 0.2s;
  border-radius: 2px;
  transform: rotate(45deg);
}

.pallet li:hover {
  cursor: pointer;
  border: 2px solid white;
  padding: 0;
}

.bg-gradient-blue {
  background: linear-gradient(
    175deg,
    rgba(39, 57, 126, 1) 0%,
    rgba(4, 152, 202, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
}

.bg-gradient-red {
  background: rgb(214, 24, 105);
  background: linear-gradient(
    180deg,
    rgba(214, 24, 105, 1) 0%,
    rgba(240, 76, 65, 1) 70%,
    rgba(241, 93, 56, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
}

.bg-gradient-purple {
  background: rgb(73, 81, 152);
  background: linear-gradient(
    180deg,
    rgba(73, 81, 152, 1) 0%,
    rgba(202, 22, 195, 1) 73%,
    rgba(241, 93, 56, 1) 100%,
    rgba(234, 57, 237, 1) 100%
  );
}

.bg-gradient-pink {
  background: rgb(225, 30, 116);
  background: linear-gradient(
    180deg,
    rgba(225, 30, 116, 1) 0%,
    rgba(231, 74, 150, 1) 40%,
    rgba(241, 93, 56, 1) 100%,
    rgba(230, 127, 179, 1) 100%
  );
}

.bg-gradient-orange {
  background: orange;
}

/*logo*/
.logo-container {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-center {
  height: 55px;
  margin: 0 auto;
  display: flex;
}

.logo-container h1 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  margin-left: 5px;
  min-width: 160px;
}

/*sidebar*/
.sidebar {
  display: block;
  color: #fff;
  min-width: 250px;
  width: 300px;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s ease-out;
  position: relative;
}

.sidebar-close {
  width: 0;
  min-width: 0;
  transition: 0.3s ease-in;
}

.sidebar-close .topic-title {
  opacity: 0;
}

.sidebar-close .sub-topics {
  display: none;
}

.topic-title {
  font-size: 16px;
  line-height: 44px;
  padding-left: 35px;
  position: relative;
  background: rgba(107, 168, 224, 0.6);
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

#topic-container > div:nth-child(5) > div.sub-topics {
  margin-bottom: 50px;
}

.topic-title:hover,
.open {
  background: rgba(107, 168, 224, 1);
}

.sub-topics {
  min-width: 300px;
  font-size: 12px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
}

.sub-topics .padding {
  padding: 25px 55px;
}

.sub-topics a {
  padding: 2px 0;
  position: relative;
  display: block;
  transition: 0.25s;
}

.slideLink {
  cursor: pointer;
}

.slideLink:hover {
  color: #bddaf9;
}

.slideLink:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  top: 6px;
  left: -15px;
  position: absolute;
  transition: all 0.3s;
}

.active-slide-indicator:before {
  background: #e85454;
}

.slide-shows {
  max-width: 900px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.slide-shows .steps {
  padding: 20px 0;
}

.slide-shows .steps li {
  color: #5b5b5b;
  font-size: 18px;
  padding: 3px 0;
  font-weight: bold;
}

.slides {
  margin: 30px 40px;
}

.fit {
  max-width: 100%;
  max-height: 100%;
}

.landscape {
  overflow: hidden;
}

.slide-image-right {
  max-height: 600px;
  animation: slideRight 0.3s ease-out;
}

.slide-image-left {
  max-height: 600px;
  animation: slideLeft 0.3s ease-out;
}

#arrows {
  left: 50%;
  margin-left: -60px;
  width: 120px;
  bottom: 100px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

#arrow-left,
#arrow-right {
  fill: #c4c4c4;
  transition: 0.3s;
}

#arrow-left:hover {
  fill: #5b5b5b;
  cursor: pointer;
  transform: scale(-2, 2);
}

#arrow-right:hover {
  fill: #5b5b5b;
  cursor: pointer;
  transform: scale(2);
}

/*animation*/
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(2000px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

@keyframes scaleDownRight {
  from {
    transform: scale(2);
    fill: #5b5b5b;
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleDownLeft {
  from {
    transform: scale(-2, 2);
    fill: #5b5b5b;
  }
}
